name: Build

on:
  push:
    branches: '*'
  pull_request:
    branches: [ "master" ]

env:
  BUILD_TYPE: Release

jobs:
  build:
    strategy:
      matrix:
        include:
          - qt_version: '6.6'
            qt_arch: 'gcc_64'
          - qt_version: '6.7'
            qt_arch: 'linux_gcc_64'

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: 'recursive'

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y nlohmann-json3-dev libutfcpp-dev libgd-dev xvfb libxcb-cursor0
      shell: bash
    - name: Install Qt
      uses: jurplel/install-qt-action@v4
      with:
        version: '${{ matrix.qt_version }}'
        arch: '${{ matrix.qt_arch }}'
    - name: Configure CMake
      run: cmake -B ${{github.workspace}}/build -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}}

    - name: Build
      run: xvfb-run cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}} -j$(nproc --all)

